<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1>Limeware Demo Portal</h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
          <p class="navbar-text navbar-right">Signed in as <span class="navbar-link">{{current_user.username}}</span></p>
          <div class="btn-header transparent navbar-right">
          	<span> <a ng-click="logout()" title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
		  </div>
        </div>
      </div>
    </nav>
<h3>The current user is {{current_user.username}}</h3>