<!DOCTYPE html>
<html>
<head>
  <title>Champs</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body ng-app="Champs">

<%= yield %>
<%= javascript_include_tag "application", controller_name %>
</body>
</html>
